body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(red, green, blue, alpha)
}

#chart-container{
    background-color: #0B3142;
    padding: 5%;
    max-width: 1000px;
    
}

#chart {
  background-color: #0B3142;
  font-size: 15px;
  color: #FFF8F0;
}